################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TeleBillingAPI/v15/Server/sqlite3
/TeleBillingAPI/bin
/TeleBillingAPI/obj
/TeleBillingAPI/Properties
/TeleBillingBillCloseService/bin/Debug/netcoreapp2.2
/TeleBillingBillCloseService/obj
/TeleBillingRepository/obj
/TeleBillingRepository/bin
/TeleBillingUtility/bin
/TeleBillingUtility/obj
/TeleBillingAPIXUnit.Tests/bin/Debug/netcoreapp2.2
/TeleBillingAPIXUnit.Tests/obj
/TeleBillingAPI/wwwroot
/.vs/TeleBillingAPI/v16
/TeleBillingBillCloseService/Properties/PublishProfiles
/TeleBillingBillCloseService/bin/Release/netcoreapp2.2/win10-x64
/TeleBillingRemiderService/bin
/TeleBillingRemiderService/obj
