################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TeleBillingAPI/v15/Server/sqlite3
/TeleBillingAPI/bin
/TeleBillingAPI/obj
/TeleBillingAPI/Properties
/TeleBillingBillCloseService/bin/Debug/netcoreapp2.2
/TeleBillingBillCloseService/obj
/TeleBillingRepository/obj
/TeleBillingRepository/bin
/TeleBillingUtility/bin
/TeleBillingUtility/obj
/TeleBillingAPIXUnit.Tests/bin/Debug/netcoreapp2.2
/TeleBillingAPIXUnit.Tests/obj
