<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"      
      internalLogLevel="Off"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- define various log targets -->
  <targets>
    <target xsi:type="File" name="ownFile-web" fileName="NLog\nlog-own-${shortdate}.log"
            layout="${longdate}|${var:user}|${var:stepno}|${uppercase:${level}}|${logger}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${message} ${exception:format=tostring}" />
  </targets>
  <!--<target name="BillUploadModule" xsi:type="File"
        fileName="NLog\BillUpload\nlog-bill-own-${shortdate}.log"
        keepFileOpen="false"
        layout="${longdate}|${event-properties:item=EventId_Id}|${level:uppercase=true}|${var:api}|${var:user}|${message}|${exception:format=tostring} ${newline}" />-->
  
  <rules>
    <!--Skip Microsoft logs and so log only own logs-->   
    <logger name="logger" minlevel="Trace" writeTo="ownFile-web" />
    <!--<logger name="BillUploadModule" level="Trace" writeTo="BillUploadModule" />-->
  </rules>
</nlog>